{% extends "base.html" %}
{% block content %}
    <div class="max-w-2xl mx-auto bg-white p-6 rounded-lg shadow-md">
        <h2 class="text-2xl font-bold mb-4 text-center">Consulter toutes les affectations</h2>
        {% if affectations %}
            <ul class="space-y-4">
                {% for affectation in affectations %}
                    <li class="border p-4 rounded-md">
                        <p><strong>Personnel ID:</strong> {{ affectation.personnel_id }}</p>
                        <p><strong>Nouvelle Région:</strong> {{ affectation.code_region }}</p>
                        <p><strong>Statut:</strong> {{ affectation.status }}</p>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p class="text-center">Aucune affectation disponible.</p>
        {% endif %}
    </div>
{% endblock %}